.logo {
    margin-right: 7rem;
}

#logo {
    font-size: 5rem;
}

#login:hover {
    transition: all .3s ease-in-out;
    color: #fff;
    outline: none;
    background-color: #55bc7d;
    box-shadow: #0e1c131b 0px 4px 12px;
}

#signup {
    background-color: #55bc7d;
    box-shadow: #0e1c131b 0px 4px 12px;
}

#signup:hover {
    transition: all .3s ease-in-out;
    color: #fff;
    outline: none;
    background-color: #55bc7c66;
}

.navbar a {
    color: #fff;
    margin-right: 1rem;
}

.navbar a:hover {
    color: #55bc7d;
    transition: all.3s ease-in-out;
}

#hero {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: #445a53;
}

#logo {
    color: #55bc7d;
    font-size: 1.6rem;
    font-weight: 800;
}

#logo span {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 800;
}

.hero-text {
    padding-right: 8rem;
}

.hero-text h1 {
    font-weight: 800;
    font-size: 3.9rem;
    color: #fff;
}

.hero-text p {
    font-size: 1rem;
    color: #bbb;
}

#muted {
    font-size: .9rem;
    color: #bbb;
}

#muted .jobs-badge {
    background-color: #55bc7d;
    color: #fff;
    padding: .3rem .6rem;
    font-size: .8rem;
    border-radius: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.text-right {
    text-align: right;
    z-index: 1;
    height: calc(100vh - 90px);
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-form {
    background-color: #fff;
    border-radius: .7rem;
    padding: .8rem;
    width: 90%;
    padding-left: .7rem;
    position: relative;
    box-shadow: #0e1c131b 0px 4px 12px;
}

#search-input {
    outline: none;
    flex-grow: 1;
    padding-right: 3rem;
    border: none;
    box-shadow: none;
    width: 90%;
    color: #445a53;
    font-size: 1rem;
    font-weight: 400;
}

#search-input:focus {
    padding-right: 2.5rem;
    outline: none;
    border: none;
    box-shadow: none;
}

#search-btn {
    position: absolute;
    right: .6rem;
    top: .55rem;
    padding: .6rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
    background-color: #55bc7d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#search-btn:hover {
    color: #3dbc6e;
    font-weight: 500;
    background-color: #55bc7c66;
    transition: all .3s ease-in-out;
}

.text-right {
    position: relative;
}

#hero-img {
    z-index: 2;
    height: 100%;
    object-fit: contain;
}

.text-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-image: url('../../assets/images/b-g2.png');
    filter: blur(30px);
}

.image-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .search-form {
        width: 95%;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(15, 34, 22, 0.74);
        z-index: 1;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navbar-collapse.show {
        display: flex;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .nav-item {
        margin: 15px 0;
    }

    .nav-link {
        color: #fff;
        font-size: 24px;
        padding: 10px;
    }

    .sign {
        margin-bottom: 3rem;
    }

    #toggler {
        color: #fff;
        z-index: 9999;
        outline: #fff;
        border: 1px solid #fff;
    }

    #search-btn {
        padding: .8rem 1.5rem;
    }

    .hero-text {
        margin-top: 1.5rem;
        padding-right: 1rem;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text p {
        font-size: 1rem;
    }
}


@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 3.4rem;
    }

    .hero-text p {
        font-size: 1rem;
    }
}

/* Existing styles */
.step-num {
    background-color: #55bc7d;
    padding: 1rem;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

.step-card:hover .step-num {
    color: #55bc7d;
    background-color: #55bc7c66;
    transition: all .3s ease-in-out;
}

.step-card {
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.step-card:hover {
    transition: all .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.step-card p {
    color: #445a53;
    text-align: left;
    /* padding-top: .5rem; */
    /* max-width: 90%; */
}

.step-card .card-title {
    text-align: left;
    padding-top: 1rem;
}

.step-card .card-title:after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #999;
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: .2rem;
    transition: all .3s ease-in-out;
}

.step-card:hover .card-title:after {
    width: 50%;
    background-color: #55bc7d;
    transition: all .3s ease-in-out;
}

/* Ensure equal height for all cards */
.step-card-cont .col-md-4 {
    display: flex;
    align-items: stretch;
}

.step-card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-card p {
    /* font-size: 1rem; */
    color: #999;
    font-weight: 400;
}

#how-it-works h5 {
    color: #2f6650;
}

#how-it-works h2 {
    color: #2f6650;
    font-weight: 800;
}

.features-section {
    background-color: #93c1a509;
}

.feature-paragraph {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: #888;
}

.ibg {
    position: absolute;
    font-size: 6.2rem;
    color: #55bc7d;
    bottom: -2.5rem;
    right: -1rem;
    opacity: .1;
    transition: all .5s ease-in-out;
}

.step-card:hover .ibg {
    transform: scale(1.1) rotate(5deg);
    transition: all .5s ease-in-out;
}











/* Footer section */
footer {
    overflow: hidden;
    background-color: #445a53;
}

#footer-btn {
    color: #fff;
    background-color: #55bc7d;
    box-shadow: #0e1c131b 0px 4px 12px;
}

#footer-btn:hover {
    transition: all .3s ease-in-out;
    outline: none;
    background-color: #55bc7c66;
}

footer .row div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer h5 {
    color: #fff;
    font-weight: 600;
}

footer h5::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #3dbc6e;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: .2rem;
    transition: all .3s ease-in-out;
}

footer .footer-link,
footer .footer-link a {
    color: #eee;
    text-decoration: none;
    padding-bottom: 5px;
}

footer .footer-link:hover {
    color: #3dbc6e;
}

.footer-end {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-end p {
    font-size: .8rem;
}


.footer-ibg {
    position: absolute;
    font-size: 17rem;
    color: #84c09b;
    bottom: -5rem;
    rotate: -5deg;
    right: 50%;
    opacity: .04;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.qnx {
    top: -4rem;
    right: -6rem;
}

@media (max-width: 1400px) {
    .arrow-bg {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .step-card {
        padding: .5rem;
    }

    .footer-ibg {
        top: 50%;
        font-size: 10rem;
        right: 0rem;
        transform: translateY(-50%) rotate(10deg);
    }

    footer .col-md-3 {
        margin-bottom: 30px;
    }

    .footer-end {
        flex-direction: column;
    }

    footer {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    /* .step-card {
        padding: .5rem;
    }

    .step-card p {
        font-size: .8rem;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: .8rem;
    }

    .hero-text {
        padding-right: .5rem;
    } */
}

.arrow-bg {
    position: absolute;
    z-index: 999999;
}

.arrow-bg img {
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(370%, -40%);
}

.b2 img {
    top: 50%;
    left: 50%;
    transform: translate(240%, 150%) rotate(-60deg);
}


/* Explore Jobs Section */
#explore-jobs {
    background-color: #fff;
}

#explore-jobs h2 {
    color: #2f6650;
    font-weight: 800;
}

#explore-jobs p:first-child {
    color: #2f6650;
    font-weight: 400;
}

.category-card {
    height: 200px;
    position: relative;
    border: none;
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.category-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(.7);
    transition: all .3s ease-in-out;
}

.category-card:hover .category-bg {
    filter: brightness(.8);
}

.category-card .card-body {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.category-card .card-body h4 {
    position: relative;
    font-size: 1.5rem;
    opacity: .75;
    transform: translateY(50px);
    transition: all .3s ease-in-out;
}

.category-card:hover .card-body h4 {
    opacity: 1;
    transform: translateY(10px);
}

.category-card .card-body p {
    position: relative;
    color: #fff;
    border-radius: .5rem;
    background-color: #55bc7ce9;
    padding: .5rem;
    max-width: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: all .3s ease-in-out;
}

.category-card:hover .card-body p {
    opacity: 1;
    transform: translateY(-20px);
}

.category-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.category-card p {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .category-card .card-body h4 {
        font-size: 1.1rem;
    }

    .category-card .card-body p {
        font-size: 0.8rem;
        padding: 0.3rem;
    }

    .category-card .card-title {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .category-card {
        height: 180px;
    }

    .category-card .card-title {
        font-size: 1.2rem;
    }

    .category-card .card-body h4 {
        font-size: 1.2rem;
    }

    .category-card .card-body p {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .category-card {
        height: 150px;
    }

    .category-card .card-body {
        padding: 1rem;
    }

    .category-card .card-body h4 {
        font-size: 1rem;
    }

    .category-card .card-body p {
        font-size: 0.8rem;
    }
}