<section class="hero" id="hero">
    <nav class="navbar navbar-expand-lg">
        <div class="container d-flex flex-row py-3">
            <div class="logo mr-auto">
                <a href="#" class="navbar-brand" id="logo">
                    Work<span>Mate</span>
                </a>
            </div>

            <button class="navbar-toggler" id="toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="toggler-icon fas fa-bars"></span> </button>
                

            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Find Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hire Someone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>

                <div class="d-flex gap-2 sign">
                    <a href="#" class="btn btn-transparent px-4 py-2" id="login">Login</a>
                    <a href="#" class="btn px-4 py-2" id="signup">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container hero-content" id="hero-content">
        <div class="row">
            <div class="col-lg-7 hero-text py-4">
                <h1>Find Your Perfect Job or Gig</h1>
                <p class="mt-3">Join thousands of successful matches. <span
                        style="font-weight: 600; color: #55bc7d;">50,000+ jobs connected</span> and
                    counting! WorkMate connects you
                    with opportunities that fit your skills and schedule.</p>
                <form class="search-form mt-4">
                    <input type="text" class="form-control" placeholder="Search for jobs or gigs"
                        aria-label="search-btn" aria-describedby="search-btn" id="search-input">
                    <button class="btn" type="submit" id="search-btn">
                        <i class="fa fa-search"></i>
                        <span class="d-none d-lg-inline">Search</span>
                    </button>
                </form>
                <div class="mt-3" id="muted">
                    <strong>Popular right now:</strong>
                    <span class=""> "Customer Service", </span>
                    <span class="">"Graphic Designer", </span>
                    <span class="">"Baby sitter"</span>
                </div>
            </div>
            <div class="col-lg-5 text-right d-none d-lg-block">
                <div class="image-container">
                    <img src="assets/images/hero-img.png" alt="WorkMate Hero Image" id="hero-img">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="how-it-works">
    <div class="container py-5 section2" style="position: relative;">
        <h2 class="text-center py-3">How It Works!</h2>
        <p class="text-center mb-5 feature-paragraph">Follow these simple steps to get started and land your
            dream opportunity.</p>
        <div class="arrow-bg">
            <img src="assets/images/arrow-bg.png" alt="arrow-bg">
        </div>
        <div class="row text-center mt-4 step-card-cont">
            <div class="col-md-4">
                <div class="card step-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto d-flex align-items-center">
                                <span class="step-num">01</span>
                            </div>
                            <div class="col text-left">
                                <h5 class="card-title">Create an account</h5>
                                <p class="card-text">Sign up and create your account to get started.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ibg">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
            <div class="arrow-bg b2">
                <img src="assets/images/arrow-bg2.png" alt="arrow-bg2">
            </div>
            <div class="col-md-4">
                <div class="card step-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto d-flex align-items-center">
                                <span class="step-num">02</span>
                            </div>
                            <div class="col text-left">
                                <h5 class="card-title">Job search</h5>
                                <p class="card-text">Search for jobs or gigs that match your skills and interests.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ibg">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card step-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto d-flex align-items-center">
                                <span class="step-num">03</span>
                            </div>
                            <div class="col text-left">
                                <h5 class="card-title">Apply and wait</h5>
                                <p class="card-text">Apply for the jobs you want, and wait to hear back from employers.
                                    Good luck!</p>
                            </div>
                        </div>
                    </div>
                    <div class="ibg">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Features Section -->
    <div class="features-section section3">
        <div class="container py-5">
            <h2 class="text-center py-3">Why Choose Us ?</h2>
            <p class="text-center mb-3 text-muted feature-paragraph">Explore the features that make our platform the
                best choice for job
                seekers.</p>

            <div class="row text-center mt-4 step-card-cont feature-card-cont">
                <div class="col-md-4">
                    <div class="card step-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto d-flex align-items-center">
                                    <span class="step-num">
                                        <i class="fa fa-briefcase"></i>
                                    </span>
                                </div>
                                <div class="col text-left">
                                    <h5 class="card-title">Wide Range of Jobs</h5>
                                    <p class="card-text">Find a variety of jobs and gigs that match your skills and
                                        interests.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card step-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto d-flex align-items-center">
                                    <span class="step-num">
                                        <i class="fa fa-thumbs-up"></i>
                                    </span>
                                </div>
                                <div class="col text-left">
                                    <h5 class="card-title">Easy to Use</h5>
                                    <p class="card-text">Our platform is user-friendly and easy to navigate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card step-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto d-flex align-items-center">
                                    <span class="step-num">
                                        <i class="fa fa-headset"></i>
                                    </span>
                                </div>
                                <div class="col text-left">
                                    <h5 class="card-title">24/7 Support</h5>
                                    <p class="card-text">Get help and support whenever you need it, day or night.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!------------------------------------------->
<!------------------------------------------->
<!----------  Explore Jobs section ---------->
<!------------------------------------------->
<!------------------------------------------->
<section id="explore-jobs" class="py-5">
    <div class="container py-3">
        <h2 class="text-center py-3">Explore Jobs by Categories</h2>
        <p class="text-center mb-4 feature-paragraph">Browse jobs by different categories that match your needs and
            skills.</p>
        <div class="row mt-4 align">
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-1.png');"></div>
                        <h4 class="card-title">Domestic Help</h4>
                        <p>Babysitters, house cleaners, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-2.png');"></div>
                        <h4 class="card-title">Transportation</h4>
                        <p>Drivers, delivery personnel, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-8.png');"></div>
                        <h4 class="card-title">Personal Services</h4>
                        <p>Hair stylists, taylors, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-7.png');"></div>
                        <h4 class="card-title">Education</h4>
                        <p>Teachers, tutors, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-4.png');"></div>
                        <h4 class="card-title">Design</h4>
                        <p>Graphic design, flyer creation, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-9.png');"></div>
                        <h4 class="card-title">IT & Dev</h4>
                        <p>Website development, app creation, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-6.png');"></div>
                        <h4 class="card-title">Marketing</h4>
                        <p>Social media management, promotions, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-5.png');"></div>
                        <h4 class="card-title">Content Creation</h4>
                        <p>Video production, blogging, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <div class="card-body">
                        <div class="category-bg" style="background-image: url('assets/images/cat-10.png');"></div>
                        <h4 class="card-title">Micro Jobs</h4>
                        <p>Subscibtions, signups, surveys and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!------------------------------------------->
<!------------  FQA section -------------->
<!------------------------------------------->
<section id="faq" class="py-5" style="position: relative;">
    <div class="faq-bg">
        <i class="fa-regular fa-comment-dots"></i>
    </div>
    <div class="faq-bg2">
        <i class="fa-solid fa-clipboard-question"></i>
    </div>
    <div class="container py-3">
        <h2 class="text-center py-3">Frequently Asked Questions</h2>
        <p class="text-center mb-4 feature-paragraph">Have questions? We have answers. Here are some of the most common
            queries we receive.</p>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What is WorkMate?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>WorkMate</strong> is a platform that connects job seekers with employers across various
                        categories, making it easy to find and apply for jobs that match your skills and interests.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How do I create an account?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Creating an account is simple. Click on the "Sign Up" button, fill in your details, and follow
                        the instructions to verify your email address.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How do I apply for jobs?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Browse through the job listings, click on the job that interests you, and then click on the
                        "Apply" button. Make sure your profile is complete for a better chance of being hired.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Is WorkMate free to use?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes, for now, WorkMate is free for job seekers. Employers may have to pay for premium features
                        or to post job listings.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Do I need to do KYC ?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes, KYC (Know Your Customer) is required to use WorkMate. We ensure all our users are verified
                        before they can use our platform. Businesses will have to be verified as well.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-gigs" class="py-5" style="position: relative; overflow: hidden;">
    <div class="ibg gig-ibg">
        <i class="fa-solid fa-palette"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 discover-gigs">
                <h2 class="mb-4">Discover Exciting Gigs on WorkMate</h2>
                <p>Looking for flexible work opportunities or short-term gigs? WorkMate's gigs section is the perfect
                    place to find exciting projects suited to your skills and interests. </p>
                <p> Whether you're a freelancer, a student looking for part-time work, or someone seeking additional
                    income, we got you!</p>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <img src="assets/images/work from home.png" alt="Gigs Image" class="img-fluid gigs-image">
            </div>
        </div>
    </div>
</section>


<!------------------------------------------->
<!------------  Employer CTA section -------------->
<!------------------------------------------->
<section id="employer-cta" class="py-5 bg-light">
    <div class="container">
        <div class="cont text-center container py-5">
            <h2 class="py-3">Looking to hire someone ?</h2>
            <p class="mb-4">Post your job opportunities and connect with talented individuals.</p>
            <a href="#" class="btn btn-lg px-4 button-18">Post a Job</a>
        </div>
    </div>
</section>


<!------------------------------------------->
<!------------  Footer section -------------->
<!------------------------------------------->
<footer class="py-5 text-white">
    <div class="container" style="z-index: 999;">
        <div class="row py-3 mb-3 justify-content-between">
            <div class="col-md-3 mb-4 mb-md-0 company-links" style="position: relative;">
                <h5>Company </h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">About Us</a></li>
                    <li><a href="#" class="footer-link">Careers</a></li>
                    <li><a href="#" class="footer-link">Blog</a></li>
                    <li><a href="#" class="footer-link">Hire Someone</a></li>
                    <li><a href="#" class="footer-link">Find work</a></li>
                </ul>
                <div class="footer-ibg">
                    <i class="fa-regular fa-building"></i>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-md-0 support-links" style="position: relative;">
                <h5>Support </h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Contact Us</a></li>
                    <li><a href="#" class="footer-link">FAQ</a></li>
                    <li><a href="#" class="footer-link">Privacy Policy</a></li>
                    <li><a href="#" class="footer-link">Terms of Service</a></li>
                </ul>
                <div class="footer-ibg">
                    <i class="fa-solid fa-headset"></i>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-md-0 social-links" style="position: relative;">
                <h5 class="mb-3">Follow Us </h5>
                <a href="#" class="footer-link d-flex align-items-center gap-3"><i class="fs-5 fab fa-instagram"></i>
                    Instagram</a>
                <a href="#" class="footer-link d-flex align-items-center gap-3"><i
                        class="fs-5 fab fa-facebook"></i>Facebook</a>
                <a href="#" class="footer-link d-flex align-items-center gap-3"><i
                        class="fs-5 fab fa-twitter"></i>Twitter</a>
                <a href="#" class="footer-link d-flex align-items-center gap-3"><i
                        class="fs-5 fab fa-linkedin"></i>LinkedIn</a>

                <div class="footer-ibg">
                    <i class="fa-solid fa-hashtag"></i>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-md-0" style="position: relative;">
                <h5>Have a question?</h5>
                <form action="" style="z-index: 99999;">
                    <textarea name="contact-us" class="form-control" id="contact-us" cols="10" rows="3"
                        placeholder="Message..."></textarea>
                    <button type="submit" class="btn mt-3 px-3" id="footer-btn">
                        <i class="fa-solid fa-paper-plane me-2"></i> Send
                    </button>
                </form>
                <div class="footer-ibg qnx">
                    <i class="fa-solid fa-question"></i>
                </div>
            </div>
        </div>
        <div class="footer-end d-flex justify-content-between py-2">
            <div class="d-flex align-items-end">
                <div class="logo">
                    <a href="#" class="navbar-brand" id="logo">
                        Work<span>Mate</span>
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-end">
                <p class="m-0">&copy; 2024 WorkMate. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>